# {{ ansible_managed }}
{% if ansible_distribution == "Ubuntu" %}
Defaults env_reset
Defaults mail_badpass
Defaults secure_path="{{ sudoers_secure_path|default('/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin') }}"
Defaults env_keep+=SSH_AUTH_SOCK

# Root privileges
root    ALL=(ALL:ALL) ALL
%sudo   ALL=(ALL:ALL) ALL
%{{ distribution_user_groups[0] }}    ALL=(ALL) NOPASSWD:ALL

#includedir /etc/sudoers.d
{% endif %}
