/* "{{ ansible_managed }}" */
{% for host in groups['all']|sort %}

object Host "{{ hostvars[host]['inventory_hostname'].split(".")[0] }}" {
  import "generic-host"
  address = "{{ hostvars[host]['inventory_hostname'] }}"
  vars.os = "Linux"
}
{% endfor %}

{% if icinga_custom_hosts is defined %}
{% for host in icinga_custom_hosts|sort %}
object Host "{{ host }}" {
  import "generic-host"
  address = "{{ host }}"
  vars.os = "Linux"
}

{% endfor %}
{% endif %}
